.multiColorPicker {
    width: 20px;
    height:400px;
    margin-left:200px;
    margin-top: 50px;
    border: 1px solid black;
    border-radius: 3px;
    position:relative;
    background: -webkit-linear-gradient(top, #ff0509 20%,#fff605 50%,#0026ff 100%);/* Chrome10+,Safari5.1+ */
    background: -ms-linear-gradient(top, #ff0509 20%,#fff605 50%,#0026ff 100%); /* IE10+ */
    background: -moz-linear-gradient(top, #ff0509 20%,#fff605 50%,#0026ff 100%);/* FF3.6+ */
}
.multiColorPicker .nav-element {
    width: 100%;
    border: none;!important;
    cursor: pointer;
}
.multiColorPicker .nav-element .color-control {
    position:absolute; width:50px; top:-15px; left:-53px;
}
.multiColorPicker .nav-element .color-picker {
    position: absolute;
    width: 18px;
    top: -10px;
    right: -16px;
}
.multiColorPicker .bottom-point {
    position: absolute;
    top: 100%;
}
.multiColorPicker .draggable {z-index:100;}
.multiColorPicker .nav-element .ui-triangle {color: #fff605;}
.multiColorPicker .top-point .ui-triangle {color: #ff0509;}
.multiColorPicker .bottom-point .ui-triangle {color: #0026ff;}