.scroll-bar {
    width: 20px;
    height:400px;
    margin-left:200px;
    margin-top: 50px;
    border: 1px solid black;
    border-radius: 3px;
}
.draggable, .draggable-extr {
    border: none;!important;
    cursor: pointer;
    align-items: center;
}
.color-btn {
    z-index: 100;
}
.input-group-addon {
    width: 20px;
    height: 20px
}