.scroll-bar {
    width: 20px;
    height:400px;
    margin-left:200px;
    margin-top: 50px;
    border: 1px solid black;
    border-radius: 3px;
}
.draggable, .draggable-extr {
    width: 100px;
    border: none;!important;
    cursor: pointer;
}
.ui-triangle {
    margin-left: -18px;
}
.position-input, .position-input-extr {
    margin-left: -52px;
    width: 50px;
}

